.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all .15s ease-in-out;
    padding: 1.2rem;
    border-radius: .8rem;
}

.menuLink:hover {
    filter: brightness(80%);
}

.menuLink svg {
    width: 3rem;
    height: 3rem;
}